<div class="control-section container">
  <div id="title" align="center" style="font-size: 15px; font-style: normal;font-family: 'Segoe UI'; font-weight: 500;">AAPL Historical</div>
  <div id="container" align="center">
       <ejs-chart #chartcontainer id='chartcontainer' style='display:block' [chartArea]='chartArea' [width]='width' align='center' style="display:block;" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [tooltip]='tooltip' [crosshair] = 'crosshair' 
      [axes] = 'axes' [rows]='rows' [legendSettings]='legendSettings'>
          <e-series-collection>
              <e-series [dataSource]='data1' type='Column' xName='x' yName='volume' name='Volume'> </e-series>
               <e-series [dataSource]='data1' type='Candle' xName='x' yAxisName='secondary' high='high' low='low'
               open='open' close='close' volume='volume' name='Apple Inc' bearFillColor= '#2ecd71' bullFillColor= '#e74c3d'> </e-series>
          </e-series-collection>
      </ejs-chart>
  </div>
  <br>
  <h3>Note:</h3>
  <p>Synchfusion is a UI library. It supports mostly needed components. (Inputs, buttons, charts, grid structure etc.)</p>
  <a href="https://ej2.syncfusion.com/angular/demos/#/material/chart/chart-performance">100K Data Test</a>
  <h2>Chart Types:</h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Line</li>
    <li class="list-group-item">Spline</li>
    <li class="list-group-item">Step Line</li>
    <li class="list-group-item">Dashed Line</li>
    <li class="list-group-item">Area Charts (Standard, Stacked, Normalized, Spline Area etc.)</li>
    <li class="list-group-item">Pie</li>
    <li class="list-group-item">Bubble</li>
    <li class="list-group-item">Doughnut</li>
    <li class="list-group-item">Waterfall</li>
    <li class="list-group-item">Gauge (Linear & Radial)</li>
    <li class="list-group-item">Heatmap</li>
    <li class="list-group-item">Treemap</li>
    <li class="list-group-item">Number Cards</li>
  </ul>
</div>
