<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/dx-page" routerLinkActive="active">Dx Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/ngx-charts" routerLinkActive="active">NGX Charts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/ngx-echarts" routerLinkActive="active">NGX Echarts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/ng-apexcharts" routerLinkActive="active">Ng Apexcharts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/synchfusion" routerLinkActive="active">SynchFusion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>