<div class="container">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [title]="chartOptions.title"
  ></apx-chart>
  <h2>Chart Types: </h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Line Chart</li>
    <li class="list-group-item">Area Chart</li>
    <li class="list-group-item">Candlestick</li>
    <li class="list-group-item">Heat Map Chart</li>
    <li class="list-group-item">Treemap Chart</li>
    <li class="list-group-item">Multi-Axis Chart</li>
    <li class="list-group-item">Pie/Donut</li>
    <li class="list-group-item">Radar</li>
    <li class="list-group-item">Range Bar Chart</li>
    <li class="list-group-item">Radial Bar/Circular Gauge</li>
    <li class="list-group-item">Synchronized Charts</li>
  </ul>
</div>