<div class="container">
  <ngx-charts-bar-vertical
    [scheme]="colorScheme"
    [results]="results"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [view]="view"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
  <br>
  <h2>Chart Types:</h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Horizontal & Vertical Bar Charts (Standard, Grouped, Stacked, Normalized)</li>
    <li class="list-group-item">Line</li>
    <li class="list-group-item">Area (Standard, Stacked, Normalized)</li>
    <li class="list-group-item">Pie (Explodable, Grid, Custom legends)</li>
    <li class="list-group-item">Bubble</li>
    <li class="list-group-item">Doughnut</li>
    <li class="list-group-item">Gauge (Linear & Radial)</li>
    <li class="list-group-item">Heatmap</li>
    <li class="list-group-item">Treemap</li>
    <li class="list-group-item">Number Cards</li>
  </ul>
  <h2>Customization:</h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Autoscaling</li>
    <li class="list-group-item">Timeline Filtering</li>
    <li class="list-group-item">Line Interpolation</li>
    <li class="list-group-item">Configurable Axis Labels</li>
    <li class="list-group-item">Legends (Labels & Gradient)</li>
    <li class="list-group-item">Advanced Label Positioning</li>
    <li class="list-group-item">Real-time data support</li>
    <li class="list-group-item">Advanced Tooltips</li>
    <li class="list-group-item">Data point Event Handlers</li>
    <li class="list-group-item">Theming</li>
    <li class="list-group-item">Works with ngUpgrade</li>
  </ul>
</div>
